body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: rgb(237, 187, 0); 
}

h2 {
    color: rgb(219,0,48); 
}
h4{
    color: rgb(219,0,48);
}
button{
    background-color:  rgb(219,0,48);;
}
.image-container {
    display: flex;
    justify-content: space-around;
}

.item-container {
    text-align: center;
    margin: 5px;
}

.item-container img {
    width: 40%;
    height: 55%;
    margin-bottom: 10px;
    cursor: pointer;
}

.like-and-price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

textarea {
    display: block;
    align-self: center;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 2px solid #004080; 
    border-radius: 5px;
    resize: vertical; 
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

tr{
    color: rgb(219,0,48);
    font-weight: bold;
}
#theme-toggle {
    position: fixed;
    top: 3px;
    right: 3px;
    background-color: #d32f2f; /* FC Barcelona red */
    color: #fff; /* Light text color */
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}